# SketchUp Plugin specific
*.skp
*.skb
*_changelog.txt

# Ruby
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

# OS specific
.DS_Store
Thumbs.db
Desktop.ini

# IDE
.vscode/
.idea/
*.sublime-*

# RuboCop artifacts
report.html
rubocop.json
